<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
<h1>Product Details</h1><br>
<table>
    <tr>
        <th align="left">User ID</th>
        <td>{{.LID}}</td>
    </tr>
    <tr>
        <th align="left">User Login ID</th>
        <td>{{.NowUserName}}</td>
    </tr>
</table>
<br><br>
<table>
    <tr>
        <th align="left">ID</th>
        <td>{{.ID}}</td>
    </tr>
    <tr>
        <th align="left">Name</th>
        <td>{{.Pname}}</td>
    </tr>
    <tr>
        <th align="left">Price</th>
        <td>{{.Price}}</td>
    </tr>
    <tr>
        <th align="left">Product Category</th>
        <td>{{.PCID}}</td>
    </tr>
    <tr>
        <th align="left">Information</th>
        <td>{{.Ptext}}</td>
    </tr>
    <tr>
        <th align="left">User ID</th>
        <td>{{.UID}}</td>
    </tr>
    <tr>
        <th></th>
        <td><form action="/create-data" method="POST">
            <input type="hidden" name="uid" value="{{.UID}}">
            <input type="hidden" name="pid" value="{{.ID}}">
            <button type="submit">Chat</button>
        </form>
        </td>
    </tr>
</table>
</body>
</html>
