<!DOCTYPE html>
<html>
<body>
<table border="1">
  <tr>
    <th>작성자</th>
    <td>{{.UName}}</td>
  </tr>
  <tr>
    <th>제목</th>
    <td>{{.Ptitle}}</td>
  </tr>
  <tr>
    <th>내용</th>
    <td>{{.Pcontent}}</td>
  </tr>

  <tr><td colspan="2"> </td></tr>
  <tr>
    <th>댓글내용</th>
    <th>작성유저ID</th>
  </tr>
  <tbody id="comments">
  {{range .comments}}
  <tr>
    <!--                <td>{{.CreatedAt}}</td>-->
    <td>{{.Content}}</td>
    <td>{{.UserID}}</td>
  </tr>
  <tr><td><form action="/posts/{{.ID}}" method="POST">
    &nbsp;&nbsp;&nbsp;<textarea name="coc" rows="2" col="10" ></textarea>

    <button type="submit">대댓글달기</button>
  </form></td></tr>
  </tr>
  {{end}}
  </tbody>
  <th></th>
  <td><form action="/posts/{{.ID}}" method="POST">
    <textarea name="content" rows="2" col="10" ></textarea>
    <!--                <input type="hidden" name="id" value="{{.UID}}">-->
    <button type="submit" name="action" value="comment">comment</button>
  </form>
  </td>
  </tr>
</table>
</body>
</html>
