<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Page</title>
</head>
<body>
<h1>데이터베이스 관리자</h1><hr><br>
<form th:action="@{/dbAdmin/showDB}" method="GET" >
    <input type="submit" value="데이터베이스 콘솔에 출력">
</form><br><br>
<form th:action="@{/dbAdmin/cleanDB}" method="GET" >
    <input type="submit" value="데이터베이스 초기화">
</form><br><br>
<form th:action="@{/dbAdmin/addDummyData}" method="GET">
    <input type="submit" value="더미 데이터 추가">
</form>
</body>
</html>